name: StandardRB

on: [push]

jobs:
  standardrb:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
    steps:
    - name: StandardRB Linter
      uses: standardrb/standard-ruby-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
